#links {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 600px;
}

button {
    font-size: 20px;
}

#main-content {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.form-group {
    display: flex;
}

label {
    margin-left: 10px;
}

.form-options {
    margin-bottom: 20px;
}

#submit-warning {
    color: red;
}